[submodule "packages/finoer-component-vue"]
	path = packages/finoer-component-vue
	url = https://github.com/finoer/finoer-component-vue.git
	branch = master
[submodule "templates/fino"]
	path = templates/fino
	url = https://github.com/finoer/fino.git
	branch = master
[submodule "templates/fino-child"]
	path = templates/fino-child
	url = https://github.com/finoer/fino-child.git
	branch = master
[submodule "templates/fino-base"]
	path = templates/fino-base
	url = https://github.com/finoer/fino-base.git
[submodule "packages/finoer-lib"]
	path = packages/finoer-lib
	url = https://github.com/finoer/finoer-lib.git
[submodule "packages/finoer-invoke"]
	path = packages/finoer-invoke
	url = https://github.com/finoer/finoer-invoke.git
[submodule "packages/finoer-store"]
	path = packages/finoer-store
	url = https://github.com/finoer/finoer-store.git
